.wrapper{
	font-size: 20px;
	font-weight: bold;
	& + &{
		margin-top: 22px;
	}
}

.caption{
	font-weight: $fwMedium;
	font-size: 14px;
	margin-bottom: 10px;
	opacity: .5;
}

@include mediaMax($bp1000){
	.wrapper{
		font-size: 18px;
	}
}

@include mediaMax($bp768){
	.wrapper{
		& + &{
			margin-top: 16px;
		}
	}
}

@include mediaMax($bp428){
	.wrapper{
		font-size: 16px;
	}
}