.wrapper{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: white;
	padding: 25px 0;
}

.category{
	padding-left: 32px;
	padding-right: 32px;
	&:not(:nth-child(3n)){
		border-right: 1px solid rgba($text, .1)
	}
}