.wrapper{
	gap: 12px;
	display: flex;
	align-items: center;

	--btn-size: 49px;
	--border-radius: 13px;
	--icon-size: 22px;

	&._small{
		--btn-size: 41px;
		--border-radius: 10px;

		@include mediaMax($bp360){
			--btn-size: 35px;
			--icon-size: 16px;
		}
	}

	button:not(.cartBtn){
		width: var(--btn-size);
		height: var(--btn-size);
		-webkit-border-radius: var(--border-radius);
		-moz-border-radius: var(--border-radius);
		border-radius: var(--border-radius);
		font-size: var(--icon-size);
		border-width: 1px;
		border-style: solid;
		flex-shrink: 0;
	}

	&._cart-btn-last{
		.cartBtn{
			order: 1;
		}
	}

	@include mediaMax($bp428){
		--btn-size: 41px;
	}

	@include mediaMax($bp360){
		gap: 8px;
	}
}

.cartBtn{
	flex-basis: 292px;
	flex-shrink: 1;
	min-height: var(--btn-size);
}

.favouriteBtn{
	border-color: rgba(#C96000, .3);
	color: #C96000;
	&--active{
		color: #FFA900;
	}
}

.comparisonBtn{
	border-color: rgba($text, .1);
	color: rgba($text, .5);
	position: relative;
	&_{
		&checked{
			border: 2px solid white;
			font-size: .72em;
			position: absolute;
			right: .43em;
			top: .43em;
			width: 1em;
			height: 1em;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			background-color: #0E7041;
			display: flex;
			align-items: center;
			justify-content: center;
			span{
				font-size: .5em;
				color: white;
			}
		}
	}
}