.wrapper{
	font-size: 16px;
	font-family: 'Mazzard M', Arial, sans-serif;
	display: flex;
	align-items: center;
	color: rgba(white, .5);
}

.link{
	color: rgba(white, .5);
	-webkit-transition: .3s color ease-in-out;
	-moz-transition: .3s color ease-in-out;
	-ms-transition: .3s color ease-in-out;
	-o-transition: .3s color ease-in-out;
	transition: .3s color ease-in-out;
	display: flex;
	align-items: center;
	@include hover{
		color: white;
	}
}

.logo{
	width: 121px;
	height: 21px;
	margin-left: 12px;
}

@include mediaMax($bp428){
	.wrapper{
		font-size: 12px;
	}
	.logo{
		width: 93px;
		margin-left: 10px;
	}
}