.wrapper{
	padding: 30px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	background-color: white;
}

.divider{
	border: unset;
	border-top: 1px solid rgba($text, .15);
	margin: 10px 0;
}

.userCard{
	margin-bottom: 20px;
}