.wrapper{
	margin-top: 20px;
	font-size: 14px;
	font-weight: $fwSemiBold;
	button{
		color: $accent;
		font-weight: inherit;
		@include hover{
			color: $accent-hover;
		}
	}
	&:not(._is-soloBtn){
		button{
			margin-left: 10px;
		}
	}
}