.wrapper{
	display: flex;
	align-items: flex-start;
	gap: 16px;
}

.icon{
	font-size: 30px;
	color: $accent;
}

.caption{
	font-size: 15px;
	font-weight: $fwBold;
}

.text{
	margin-top: 7px;
	font-size: 13px;
	font-weight: $fwMedium;
	opacity: .6;
}