.wrapper{
	margin-top: 20px;
	h2, h3{
		font-family: $fSans;
	}
	h2{
		margin-bottom: 40px;
		font-size: 26px;
		font-weight: $fwBlack;
		&:not(:first-child){
			margin-top: 70px;
		}
	}
	h3{
		font-size: 18px;
		font-weight: $fwBold;
		margin-bottom: 16px;
		&:not(:first-child){
			margin-top: 40px;
		}
	}
	p{
		font-size: 16px;
		line-height: (24/16);
		color: rgba($text, .8);
		& + p{
			margin-top: 1em;
		}
	}
	a{
		color: $accent;
		text-decoration: underline;
		@include hover{
			text-decoration: none;
		}
	}
	ul{
		margin: 16px 0 16px;
		padding-left: 38px;
		color: rgba($text, .8);
		li + li{
			margin-top: 6px;
		}
	}
}