@include mediaMin($bp1440){
	.container{
		display: grid;
		grid-template-columns: 1fr 445px;
		gap: 20px;
	}

	.sidebar{
		position: sticky;
		top: calc(var(--header-stuckon-height) + 30px);
	}

	.sidebarContainer{
		position: relative;
	}
}

.caption{
	font-size: 25px;
	margin-bottom: 30px;
	font-weight: $fwBold;
}

.main{
	background-color: white;
	padding: var(--main-padding-y) var(--main-padding-x);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

	--main-padding-x: 40px;
	--main-padding-y: 40px;

	h3{
		margin-bottom: 25px;
		font-size: 20px;
		font-weight: $fwSemiBold;
	}
}

.divider{
	margin: var(--divider-spacing-y) 0 var(--divider-spacing-y) calc(var(--main-padding-x) * -1);
	border: none;
	border-top: 1px solid rgba($text, .1);
	width: calc(100% + 2 * var(--main-padding-x));

	--divider-spacing-y: 40px;

	@include mediaMax($bp768){
		--divider-spacing-y: 30px;
	}
	@include mediaMax($bp360){
		--divider-spacing-y: 25px;
	}
}

.products{
	margin: 40px 0;
}



.userInfo{
	margin-bottom: 10px;
}

@include mediaMax($bp1000){
	.sidebarContainer{
		margin-top: 20px;
	}
	.main{
		--main-padding-x: 30px;
		--main-padding-y: 30px;
	}
}

@include mediaMax($bp768){
	.main{
		--main-padding-y: 25px;
		h3{
			font-size: 18px;
		}
	}
}

@include mediaMax($bp428){
	.main{
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		--main-padding-x: 20px;
		--main-padding-y: 25px;
		h3{
			font-size: 16px;
			margin-bottom: 16px;
		}
	}
	.caption{
		font-size: 18px;
		margin-bottom: 20px;
	}
	.sidebarContainer{
		margin-top: 10px;
	}
}

@include mediaMax($bp360){
	.container{
		margin-left: calc(-1 * var(--content-padding));
		margin-right: calc(-1 * var(--content-padding));
	}
	.main{
		--main-padding-x: 14px;
		-webkit-border-radius: unset;
		-moz-border-radius: unset;
		border-radius: unset;
		h3{
			font-size: 15px;
		}
	}
	.caption{
		font-size: 16px;
	}
}